.App {
  text-align: center;
}

.marginTop{
  margin-top: 175px;
}

body{
  background: #eee;
  font-family: sans-serif;
}

.row{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  background: white;
  border-bottom: 4px solid darkorange;
  margin-bottom: 3rem;
}



@media (max-width: 1100px) {

  .row{
    width: 90%;
  }

}

@media (max-width: 1000px) {

  .row{
    width: 100%;
  }

}

.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered{
  width: 20%;
  text-align: center;
  margin: 20px;

}


h3{
  height: 20px;
  color: maroon;
  font-weight: 600;


}

h2{
  height: 20px;
  color: slateblue;
  font-weight: 500;
}

h4{
  height: 12px;
  color: deeppink;
  font-weight: 300;
}

.NewConfirmed{
  color: orangered;

}









